$green: #01d491;
$orange: #f9b900;

html {
  font-size: 14px;
}

* {
  transition: all .5s;
}

body {
  background-color: #f4f4f4;
  font-family: Microsoft YaHei, sans-serif;
}

a, a:visited, a:hover, a:visited {
  color: inherit;
  text-decoration: none;
}

[v-cloak] {
  display: none;
}

.navbar.fixed-bottom {
  background-color: #efeff4;
  i {
    font-size: 1.5rem;
    color: #666;
  }
  p {
    color: #999;
    margin: 0;
    font-size: .8rem;
  }
  .active {
    p {
      color: $green;
    }
    i {
      color: $green;
    }
  }
}

.bottom-fix {
  height: 60px;
}

.orange-text {
  color: $orange !important;
}

.orange-bg {
  background-color: $orange !important;
}

.orange-active {
  .active {
    color: $orange !important;
    &:before {
      background-color: $orange !important;
    }
  }
}

.green-text {
  color: $green !important;
}

.green-bg {
  background-color: $green !important;
}

.error {
  color: #999;
  font-size: 2rem;
  font-weight: 700;
  padding-top: 4rem;
  text-align: center;
  text-shadow: 0.4rem 0.4rem 0.1rem #fff;
}
