$green: #01d491;

html {
  font-size: 14px;
}

* {
  transition: all .5s;
}

body {
  background-color: #f4f4f4;
  font-family: Microsoft YaHei, sans-serif;
}

a, a:visited, a:hover, a:visited {
  color: inherit;
  text-decoration: none;
}

[v-cloak] {
  display: none;
}

.navbar.fixed-bottom {
  background-color: #efeff4;
  i {
    font-size: 1.5rem;
    color: #666;
  }
  p {
    color: #999;
    margin: 0;
    font-size: .8rem;
  }
  .active {
    p {
      color: $green;
    }
    i {
      color: $green;
    }
  }
}

.bottom-fix {
  height: 60px;
}
