$green: #01d491;

.index {
  button {
    background-color: $green;
    color: #fff;
  }
  h3, h4, h5 {
    margin-top: 2rem;
  }
  .main {
    a:nth-child(1) {
      color: #999;
    }
    a:nth-child(2) {
      color: #ccc;
      font-size: 1.3rem;
    }
  }
  .count {
    h3 {
      margin-top: 1rem;
    }
    .count-block {
      background-color: #fff;
      margin: 1px;
      padding: 1rem;
      p:nth-child(1) {
        margin: 0;
        color: #999;
      }
      p:nth-child(2) {
        margin: 0;
        color: #666;
        font-size: 2rem;
      }
    }
  }
  .commission {
    color: #666666;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: #fff;
    p {
      margin-bottom: 0;
      .money {
        color: #ff6600;
        font-size: 3rem;
      }
      .money-text {
        position: absolute;
        bottom: .8rem;
      }
      a {
        background-color: $green;
        color: #fff;
        position: absolute;
        bottom: .8rem;
        right: 15px;
        padding: 0 10px;
        border-radius: 30px;
      }
    }
  }
  .strategy {
    h5 {
      color: #333333;
      font-weight: 500;
      margin-bottom: .8rem;
    }
    p {
      margin: 0;
      line-height: 1.8rem;
      font-size: .9rem;
      color: #999999;
    }
  }
  .share {
    margin-top: 3rem;
    button {
      border-radius: 10px;
    }
  }
  .index-tab {
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: $green;
    .nav {
      font-size: 1.2rem;
      justify-content: center;
    }
    .nav-tabs {
      padding: 0;
      margin: 0;
      border: none;
      .nav-item {
        width: 8rem;
        margin: 0;
        .nav-link {
          line-height: 2rem;
          border: none;
          border-radius: 0;
          color: #fff;
          //font-weight: bold;
          &.active {
            background-color: $green;
            border: none;
            border-radius: 0;
            &:before {
              content: '';
              position: absolute;
              bottom: 0;
              background-color: #fff;
              height: .3rem;
              width: 4.8rem;
              border-radius: .5rem;
            }
          }
        }
      }
    }
  }
  .chart {
    color: #fff;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: $green;
    p {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    button.dropdown-toggle {
      width: 7rem;
      outline: none;
      box-shadow: none;
    }
  }
  .article-title {
    p {
      margin: 1rem 0 0 0;
      color: #a5a5a5;
    }

    button {
      margin: 1rem;
      padding-left: 3.5rem;
      padding-right: 3.5rem;
      border-radius: 2rem;
    }
    .non-active {
      background-color: #e2e2e2;
      color: #666;
    }
  }
  .article-block {
    background-color: #fff;
    margin-bottom: .1rem;
    padding-top: .8rem;
    .num {
      color: $green;
      padding-left: .8rem;
    }
    .title {
      font-weight: bolder;
      height: 3rem;
      margin-bottom: .8rem;
    }
    .info {
      .price {
        color: #ff5400;
        font-size: 1.4rem;
        font-weight: bolder;
      }
      .count, .daily {
        float: right;
        line-height: 2.2rem;
        font-size: .8rem;
        color: #949494;
      }
    }
  }
}