$green: #01d491;

.news {
  .count-type {
    background-color: $green;
    color: #fff;
    font-size: 1.2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    .nav {
      justify-content: center;
    }
    .nav-link {
      width: 6rem;
      text-align: center;
      &.active {
        background-color: transparent;
        border-radius: 0;
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          background-color: #fff;
          height: .3rem;
          width: 3.6rem;
          border-radius: .5rem;
        }
      }
    }
  }
  .news-type {
    color: #666;
    .col {
      padding: 1rem 0;
    }
    .nav {
      overflow-x: auto;
      flex-wrap: nowrap;
      &::-webkit-scrollbar {
        display: none;
      }
      .nav-item {
        width: 25%;
      }
      .nav-link {
        //width: 5rem;
        text-align: center;
        margin: 0 1rem;
        padding: .2rem 0;
        &.active {
          background-color: $green;
          color: #fff;
          border-radius: 3rem;
        }
      }
    }
  }
  .news-block {
    margin-bottom: 1rem;
    .row {
      background-color: #fff;
    }
    h5 {
      padding-top: 1rem;
    }
    small {
      color: #979797;
      font-size: .8rem;
      float: right;
      line-height: 1.5rem;
    }
    .abstract {
      color: #999;
      font-size: .9rem;
      margin-top: 1rem;
      line-height: 1.6rem;
    }
    .info {
      color: #999;
      font-size: .8rem;
      margin-top: 1rem;
      line-height: 1.8rem;
      span {
        margin-right: 1.5rem;
      }
      button {
        position: absolute;
        right: 1rem;
        color: $green;
        border-color: $green;
        border-radius: 3rem;
        padding: .2rem .8rem;
      }
    }
    img {
      width: 100%;
    }
  }
  .news-detail {
    background-color: #fff;
    padding-bottom: .5rem;
    p {
      margin-top: .5rem;
    }
    .info {
      color: #979797;
      padding-right: 1rem;
      margin-bottom: .5rem;
      font-size: .8rem;
    }
    button {
      background-color: transparent;
      border: none;
      outline: none;

      &.thumb {
        color: $green;
      }
    }
    span {
      margin-right: 1rem;
    }
    i {
      font-size: 150%;
    }

    img {
      background-color: #eee;
      width: 100%;
      height: 10rem;
    }
  }
  .news-share {
    button {
      padding: .2rem 1.5rem;
      color: $green;
      background-color: transparent;
      border-color: $green;
      border-radius: 3rem;
      font-size: .8rem;
    }
    p {
      margin-top: .5rem;
      margin-bottom: .5rem;
      color: #a5a5a5;
      font-size: .8rem;
    }
  }
  .discuss {
    form {
      button {
        border-color: $green;
        color:  $green;
      }
      textarea {
        background-color: #f4f4f4;
      }
    }
    .row {
      background-color: #fff;
    }
    .edit-bar {
      color: $green;
      p {
        margin: .5rem 0;
      }
    }
    .user-id {
      color: #999999;
      margin-bottom: .1rem;
    }
    .discuss-block {
      padding-bottom: 2rem;
    }
    .icon {
      width: 3.5rem;
      height: 3.5rem;
      margin-left: 1rem;
      background-color: #eee;
      border-radius: 100%;
    }
  }
}