$green: #01d491;

.user {
  button {
    background-color: $green;
    color: #fff;
  }
  h3, h4, h5 {
    margin-top: 2rem;
  }
  .user-page {
    .head-picture {
      padding: 0;
      align-items: center;
      justify-content: center;
      .user-info {
        position: absolute;
        .pic {
          width: 5rem;
          height: 5rem;
          margin: auto;
          border-radius: 5rem;
          border: 2px #fff solid;
        }
        img {
          border-radius: 5rem;
        }
        .nickname {
          color: #fff;
        }
      }
    }
    .col {
      padding: 0;
      li {
        border-left: none;
        border-right: none;
        border-radius: 0;
        border-color: #f4f4f4;
      }
      i {
        width: 2rem;
        color: $green;
      }
    }
  }
  .commission-page {
    .commission {
      .text-light {
        padding: .5rem;
      }
      .rule-button {
        margin-top: .7rem;
        margin-bottom: .7rem;
      }
      .money {
        font-size: 3rem;
        padding-top: 1rem;
        margin: 0;
      }
      .money-text {
        font-size: 1rem;
      }
      .sub-text {
        margin: 0;
        font-size: .8rem;
        padding-bottom: 1rem;
      }
    }
    .commission-list {
      .row {
        background-color: #fff;
        p {
          margin-bottom: .5rem;
          margin-top: .5rem;
          &.article {
            font-size: 1.2rem;
          }
          span {
            float: right;
            &.time {
              font-size: 1rem;
              color: #999;
            }
          }
        }
      }
    }
    .no-data {
      color: #999;
      font-size: 2rem;
      font-weight: 700;
      padding-top: 4rem;
      text-align: center;
      text-shadow: 0.4rem 0.4rem 0.1rem #fff;
    }
  }
  .strategy {
    a {
      color: #999;
    }
    margin-bottom: 1.5rem;
  }
  .credits-page {
    .credits {
      .text-light {
        background-color: $green;
        padding: .5rem;
      }
      .rule-button {
        color: $green;
        margin-top: .7rem;
        margin-bottom: .7rem;
      }
      .num {
        font-size: 3rem;
        padding-top: 1rem;
        margin: 0;
      }
      .sub-text {
        margin: 0;
        font-size: .8rem;
        padding-bottom: 1rem;
      }
    }
    .credits-info {
      .text-light {
        background: $green;
      }
      .rule-button {
        color: $green;
        margin-top: .7rem;
        margin-bottom: .7rem;
        span {
          color: #fff;
          background-color: $green;
          border-radius: 2rem;
          float: right;
          padding: .1rem .5rem;
          label {
            margin-bottom: 0;
          }
        }
        input {
          text-align: right;
          color: $green;
          border: none;
          outline: none;
          background-color: transparent;
        }
      }
      .add, .withdraw {
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        span {
          text-align: center;
          display: inline-block;
          width: 1.5rem;
        }
      }
    }
    .credits-detail {
      p {
        margin-top: .5rem;
        margin-bottom: .5rem;
      }
      .time {
        font-size: .8rem;
        color: #999999;
      }
      .change {
        background-color: #fff;
        font-size: 1.4rem;
      }
    }
    .credits-list {
      .row {
        background-color: #fff;
        p {
          margin: 0.5rem 0;
          span {
            float: right;
            color: $green;
          }
        }
        table {
          margin-bottom: 0;
          td, th {
            padding: .5rem 1rem;
          }
          thead {
            color: #999;
            background-color: #f4f4f4;
            th {
              border: none;
              font-weight: inherit;
            }
          }
          tbody {
            td {
              font-size: 1.2rem;
              small {
                font-size: .8rem;
                color: #999;
              }
              .add {
                color: #f1570f;
                &:before {
                  content: '+'
                }
              }
              .sub {
                color: #3bb1ee;
                &:before {
                  content: '-'
                }
              }
            }
          }
        }
      }
    }
    .no-data {
      color: #999;
      font-size: 2rem;
      font-weight: 700;
      padding-top: 4rem;
      text-align: center;
      text-shadow: 0.4rem 0.4rem 0.1rem #fff;
    }
  }
}