$green: #01d491;

.user {
  button {
    background-color: $green;
    color: #fff;
  }
  h3, h4, h5 {
    margin-top: 2rem;
  }
  .user-page {
    .head-picture {
      padding: 0;
      align-items: center;
      justify-content: center;
      .user-info {
        position: absolute;
        .pic {
          width: 5rem;
          height: 5rem;
          margin: auto;
          border-radius: 5rem;
          border: 2px #fff solid;
        }
        img {
          border-radius: 5rem;
        }
        .nickname {
          color: #fff;
        }
      }
    }
    .col {
      padding: 0;
      li {
        border-left: none;
        border-right: none;
        border-radius: 0;
        border-color: #f4f4f4;
      }
      i {
        width: 2rem;
        color: $green;
      }
    }
  }
  .commission-page {
    .commission {
      color: #666666;

      p {
        margin-bottom: 0;
        .money {
          color: #ff6600;
          font-size: 3rem;
        }
        .money-text {
          position: absolute;
          bottom: .8rem;
        }
        .btn {
          background-color: $green;
          color: #fff;
          position: absolute;
          bottom: .8rem;
          right: 15px;
          padding: 0 10px;
          border-radius: 30px;
        }
      }
    }
    .commission-list {
      .row {
        background-color: #fff;
        margin-bottom: 1px;
        p {
          margin-bottom: .5rem;
          margin-top: .5rem;
          &.article {
            font-size: 1.2rem;
          }
          span {
            float: right;
            &.time {
              font-size: 1rem;
              color: #999;
            }
          }
        }
      }
    }
  }
  .strategy {
    a {
      color: #999;
    }
    margin-bottom: 1.5rem;
  }
  .credits-page {
    .credits {
      .rule-button {
        color: $green;
        margin-top: .7rem;
      }
      .num {
        font-size: 3rem;
        padding-top: 1rem;
      }
      .sub-text {
        color: #999;
        font-size: .8rem;
        padding-bottom: 1rem;
      }
    }
    .credits-info {
      margin-bottom: 1rem;
      .rule-button {
        margin-top: .7rem;
        span {
          color: $green;
          float: right;
        }
        input {
          text-align: right;
          color: $green;
          border: none;
          outline: none;
          background-color: transparent;
        }
      }
      .add, .withdraw {
        font-size: 1.4rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
      }
    }
    .credits-detail {
      p {
        margin-top: .5rem;
        margin-bottom: .5rem;
      }
      .time {
        font-size: .8rem;
        color: #999999;
      }
      .change {
        background-color: #fff;
        font-size: 1.4rem;
      }
    }
    .credits-list {
      .row {
        background-color: #fff;
        p {
          margin: 0.5rem 0;
          span {
            float: right;
            color: $green;
          }
        }
        table {
          margin-bottom: 0;
          td, th {
            padding: .5rem 1rem;
          }
          thead {
            color: #999;
            background-color: #f4f4f4;
            th {
              border: none;
              font-weight: inherit;
            }
          }
        }


      }
    }
    .no-data {
      padding-top: 10rem;
      text-align: center;
    }
  }
}