extends ../layout/base

block attributes
  - var title = "index"

block title
  title #{title}
block content
  .container.index
    .row.commission
      .col
        h5.text-center 我的佣金
        p.text-center
          span.money 0.00
          //span.money= commissionNum.toFixed(2)
          span.money-text 元
          button.btn.btn-sm 提现
    .row.main
      .col.text-center
        a: p &emsp;推广攻略？
        a
          i.fa.fa-bar-chart.fa-3x
          p 每日数据
    .count.text-center
      .row: .col-12
        h3 2017-09-03
      .row
        .col.count-block
          p 浏览文章用户数
          p 100
        .col.count-block
          p 浏览文章次数
          p 100
      .row
        .col.count-block
          p 浏览商品用户数
          p 100
        .col.count-block
          p 浏览商品次数
          p 100
      .row
        .col.count-block
          p 下单用户数
          p 100
        .col.count-block
          p 下单数
          p 100
  //.container
  //  h2 commissionNum
  //  p= commissionNum
  //  h2 datas
  //  p= JSON.stringify(datas)

  include ../layout/navbar-bottom