extends ../layout/base

block attributes
  - var title = "index"

block title
  title #{title}
block content
  .container.index
    .row.commission
      .col
        h5.text-center 我的佣金
        p.text-center
          span.money 0.00
          //span.money= commissionNum.toFixed(2)
          span.money-text 元
          button.btn.btn-sm 提现

    .row.strategy
      .col
        h5.text-center 推广攻略
        p 您只需要把商品分享出去，产生成交就能收到佣金，佣金可直接提现到支付宝账户！
        p 不用囤货发货，无额外费用，多劳多得，上不封顶！
    .row.share
      .col
        button.btn.btn-block.btn-lg 立刻去分享商品


  include ../layout/navbar-bottom