extends ../layout/base

block attributes

block title
  title #{title}
block content
  .container.index
    .row.bg-white: .col
      p.mt-2.mb-2 #{title}
        span.float-right 共 #{total} 人

    if total !== 0
      .row.user-list
        table.table
          thead.text-secondary
            tr
              td.pl-3 时间
              td.text-center.pr-3 昵称
          tbody
            for item in list
              tr.bg-white
                td(nowrap).time.sr-only.pl-3= item.time
                td.text-center.pr-3= item.userName
    else
      .no-data 今日无数据

  include ../layout/navbar-bottom

block script
  script.
    $('.time').text(function () {
      $(this).removeClass('sr-only');
      return moment(new Date($(this).text())).format('YYYY-MM-DD HH:mm')
    })
