extends ../layout/base

block attributes

block title
  title #{title}
block content
  .container.shop#shop
    .goods-block
      .row.p-2#wrapper
        .col-6.p-1(v-for= "goods in goodsLists"): a(:href="'/mall/product/'+goods.id")
          .card.goods-block(v-cloak)
            img.card-img-top(:src="goods.image_thumbnail")
            .card-body
              h5 {{goods.name}}
              p.mb-2 {{goods.description}}
              span ￥{{goods.shown_price}}
              small.float-right 销量：{{goods.sold_count}}

  include ../layout/navbar-bottom

block script
  script.
    var vm = new Vue({
      el: '#shop',
      data: {
        page: 1,
        goodsLists: {}
      },
      methods: {
        timeFormat: function (e) {
          return moment(e).format('YYYY-MM-DD HH:mm')
        },
        loadData() {
          var vm = this;
          $.get('/mall/list', {
            page: vm.page
          }, function (res) {
            if (res.errCode === 200) {
              console.log(vm.goodsLists);
              vm.goodsLists = vm.goodsLists.concat(res.params.productLists);
              console.log(vm.goodsLists);
              vm.lastPage = res.params.lastPage
              vm.$nextTick(function () {
                if (!vm.scroll) {
                  vm.scroll = new Bscroll($('#warpper'), {})
                  vm.scroll.on('touchend', function (pos) {
                    // 下拉动作
                    if (pos.y > 50 && vm.page <= vm.lastPage) {
                      vm.loadData()
                    }
                  })
                } else {
                  vm.scroll.refresh()
                }
                vm.page++;
              });
            }

          })
        }
      },
      created() {
        this.loadData();
      }
    });