extends ../layout/base

block attributes
  - var title = "news"

block title
  title #{title}
block content
  .container.news
    .row.news-detail: .col
      p
        small 2017-09-01  12 : 00
        small 迈德科技
      h4 糖尿病自测小方法
      p 糖尿病已经成为生活中较为常见的慢性疾病,而在治疗糖尿病的过 程中,监测血糖也是很关键的一项内容。
      img
      p 当发现排尿时，泡沫很多，且难以消去，尿在便器中粘粘地难以 流下。这时就应该去医院作检查。
      p
        span 浏览量：10000
        i.fa.fa-thumbs-o-up
        span 点赞：12
    .row.news-share: .col.text-center
      p: button 分享
      p 分享好友，还能获得积分哦
    .discuss
      .row.edit-bar: p.col.text-right: a 写评论
      .row
        .icon: img
        .col
          p 用户1231455078
          p 不错，收藏了
      .row
        .icon: img
        .col
          p 用户1231455078
          p 不错，收藏了


  include ../layout/navbar-bottom