extends ../layout/base

block title
  title #{title}
block content
  .container.news#newsPage(v-cloak)
    .row.count-type
      .col
        ul.nav.nav-pills
          li.nav-item(v-for="(order, index) in orders")
            a.nav-link(@click="chooseOrder(index)", href="javascript:;", :class="(index == active.order) ? 'active' : ''" ) &ensp;{{order}}&ensp;
    .row.news-type
      .col
        ul.nav.nav-pills
          li.nav-item(v-for="(newsClass, index) in newsClasses")
            a.nav-link(@click="chooseClass(index)", href='javascript:;', :class="(index == active.newsClass) ? 'active' : ''" ) {{newsClass}}
    .news-block(v-for= "news in newLists"): a(:href= "news.redirectUrl")
      .row: .col
        h5 {{news.title}}
          small {{timeFormat(news.createdAt)}}
        .clearfix
        p.abstract {{news.introduction}}
      .row.d-block
        img(:src= "news.imgUrl")
      .row: .col
        p.info
          span 浏览量：{{news.pv}}
          span 点赞：{{news.thumbUp}}
          span 评论：{{news.commentNum}}
          //button.btn.btn-sm.btn-outline-primary(@click.prevent='share(news.shareLink)') 一键分享


  include ../layout/navbar-bottom

block script
  script.
    var vm = new Vue({
      el: '#newsPage',
      data: {
        newsClasses: {
          0: '全部',
          1: '痛风',
          2: '糖尿病',
          3: '甲状腺'
        },
        orders: {
          1: '热门',
          2: '最新'
        },
        active: {
          newsClass: 1,
          order: 1
        },
        newLists: !{JSON.stringify(newLists)}
      },
      methods: {
        timeFormat: function (e) {
          return moment(e).format('YYYY-MM-DD HH:mm')
        },
        chooseOrder: function (e) {
          this.active.order = e;
          $.get('/news/list', {
            order: vm.active.order,
            context: vm.active.newsClass,
            page: 0
          }, function (data) {
            if (data.errCode === 200) {
              vm.newLists = data.params.newLists;
            }
          }, 'json')
        },
        chooseClass: function (e) {
          this.active.newsClass = e;
          $.get('/news/list', {
            order: vm.active.order,
            context: vm.active.newsClass,
            page: 1
          }, function (data) {
            if (data.errCode === 200) {
              vm.newLists = data.params.newLists;
            }
          }, 'json')
        },
        share: function (e) {
          wx.onMenuShareTimeline({
            title: '#{title}', // 分享标题
            link: e, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: '', // 分享图标
            success: function () {
              // 用户确认分享后执行的回调函数
            },
            cancel: function () {
              // 用户取消分享后执行的回调函数
            }
          });
          wx.onMenuShareAppMessage({
            title: '#{title}', // 分享标题
            desc: '', // 分享描述
            link: e, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: '', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
              // 用户确认分享后执行的回调函数
            },
            cancel: function () {
              // 用户取消分享后执行的回调函数
            }
          });
        }
      }
    });