extends ../layout/base

block attributes
  -
    var operators = {
    1: '自己浏览',
    2: '好友浏览',
    3: '自己转发',
    4: '好友转发',
    5: '后台提取'
    };
    var operatorResults = {
    0: '（审核中）',
    1: '已完成'
    };

block title
  title #{title}
block content
  .container.user: .credits-page
    .credits
      .row: .col.bg-light
        p.rule-button: a 积分规则?
      .row: .col.text-light
        h2.num.text-center= pointNum
        p.sub-text.text-center 可用积分
    .credits-list
      .row: .col
        p 积分变动明细
          span: a#showAll 查看全部

      if logLists.length !== 0
        .row
          table.table
            thead
              tr
                th 时间
                th.text-right 积分变动
            tbody
              for log in logLists
                tr
                  td(nowrap): a(href="/user/bonusPoint/idLog?recordId=" + log.recordId)= operators[log.operator]+(log.operatorResult?'':operatorResults[log.operatorResult])
                    small.d-block.time.sr-only= log.time
                  td.text-right: a(class= log.operator!==5?'add':'sub', href="/user/bonusPoint/idLog?recordId="+log.recordId)= log.changeNum
      else
        .no-data 无数据

  include ../layout/navbar-bottom

block script
  script.
    $('.time').text(function () {
      $(this).removeClass('sr-only');
      return moment(new Date($(this).text())).format('YYYY-MM-DD HH:mm')
    })

    $('#showAll').attr('href','/user/bonusPoint/dayLog/render?'+'date='+moment().format('YYYYMMDD')+'&page='+'1')