extends ../layout/base

block attributes
  -
    var title = "分享好友";
    var qrCodeUrl = "https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=gQGS8DwAAAAAAAAAAS5odHRwOi8vd2VpeGluLnFxLmNvbS9xLzAyeFdMdjE5Y0JmNGkxNUluZHhxMTAAAgTsBQxaAwSAUQEA";

block title
  title #{title}
block content
  .container.user
    .row.mt-3: .col
      img.img-fluid(src=qrCodeUrl)
  include ../layout/navbar-bottom