extends ../layout/base

block attributes

block title
  title #{title}
block content
  .container.user
    .row.mt-3: .col
      img.img-fluid(src=qrCodeUrl)
    .row: .col
      p.font-weight-bold.text-center.pt-3 扫描上方二维码，关注“迈德分享”公众号
      p.font-weight-bold.text-center 分享资讯商品，即可获得积分佣金。
  include ../layout/navbar-bottom