extends ../layout/base

block attributes

block title
  title #{title}
block content
  .container.user
    .withdraw
      form
        .row
          label.col-4 手机号
          input.form-control.col-8
        .row
          label
          .input-group
            input.form-control
            .input-group-btn
        .row
          label.col-4 支付宝账号
          input.form-control.col-8
        .row
          label.col-4 真实姓名
          input.form-control.col-8
        .row
          label.col-4 提现金额
          input
          p 可用余额 #{commissionNum.toFixed(2)} 元
            span 全部提现
        button.btn 提现
        p 一个工作日内到账

  include ../layout/navbar-bottom